.jumbotron {
    
    /* background-image: url("../images/pythagoras.jpg"); */
    background-size: 100% 100%;
    text-align: center;
    color: #000;
    background-color: #b996db;
}

body {

    color: #000;
    /* background-color: #b996db; */
    background-size: 100% 100%;
    background-image: url("../images/pythagoras.jpg");
}

